* {
  box-sizing: border-box;
}

body {
  color: #555;
}

header {
  width: 100%;
  height: 100px;
  background-color: white;
  text-align: center;
}

.ping-pong-table {
  position: relative;
  width: 100%;
  height: 150px;
  margin: 0;
  background: #67b271;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow:inset 0px 0px 0px 10px #555;
  -webkit-box-shadow:inset 0px 0px 0px 10px #555;
  -moz-box-shadow:inset 0px 0px 0px 10px #555;
}

#table-line {
  width: 2%;
  height: 100%;
  margin: 0 49%;
  background-color: #555;
}

#ball {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  transition-timing-function: ease-out;
  border: solid 2px #555;
  z-index: 2;
}

#result {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

@media screen and (min-width: 768px) {

  .ping-pong-table {
    width: 100%;
    height: 425px;
    margin: 0;
  }
}
